<ng-container *mobxAutorun>
  <div class="nav-category">
    <h4>កុដិ</h4>
    <button (click)="create()" mat-button>
      <mat-icon>add</mat-icon>
      <span>បញ្ចុលឈ្មោះកុដិ</span>
    </button>
  </div>
  <div class="container">
        <div class="data-table" *ngIf="!store.loading">
      <table *ngIf="!store.empty" mat-table [dataSource]="store?.data.slice()" class="mat-elevation-z8">
        <ng-container matColumnDef="homeName">
          <th mat-header-cell *matHeaderCellDef> កុដិ </th>
          <td mat-cell *matCellDef="let element"> {{element?.homeName}} </td>
        </ng-container>

        <ng-container matColumnDef="homeLeader">
          <th mat-header-cell *matHeaderCellDef> មេកុដិ </th>
          <td mat-cell *matCellDef="let element"> {{element?.homeLeader}} </td>
        </ng-container>

        <ng-container matColumnDef="homeBuildDate">
          <th mat-header-cell *matHeaderCellDef> ឆ្នាំកសាង</th>
          <td mat-cell *matCellDef="let element"> {{element?.homeBuildDate?.toDate() | date:'MM-dd-yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="homeFloors">
          <th mat-header-cell *matHeaderCellDef> កុដិមាន </th>
          <td mat-cell *matCellDef="let element"> {{element?.homeFloors}} ជាន់</td>
        </ng-container>
        <ng-container matColumnDef="updateBy">
          <th mat-header-cell *matHeaderCellDef> បានកែតម្រូវដោយ </th>
          <td mat-cell *matCellDef="let element"> {{element?.updateBy?.email}}</td>
        </ng-container>
        <ng-container matColumnDef="updateDate">
          <th mat-header-cell *matHeaderCellDef> ថ្ងៃកែតម្រូវ </th>
          <td mat-cell *matCellDef="let element"> {{ element?.updateDate?.toDate() | date:'MM-dd-yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> វត្ត </th>
          <td mat-cell *matCellDef="let element"> {{element?.category?.wat}}  </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="delete(element)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <button (click)="update(element)" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Edit</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>


    <div class="empty" *ngIf="store.empty">No item found</div>
  </div>
  <mat-progress-bar mode="buffer" *ngIf="store.loading"></mat-progress-bar>
</ng-container>
