<!-- <app-front-header class="header"></app-front-header>   
<div class="login_page" Validators>
    <div >
        <mat-toolbar class="tooltip">   
                <mat-card-title color="primary" >Register new account</mat-card-title>
                  </mat-toolbar>
    <mat-form-field>
        <input type="text" matInput placeholder="First Name">
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
        <input type="email" matInput placeholder="Email" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Comfirm your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-checkbox>Accept term of services</mat-checkbox>
        <div class="button">
            <button mat-button (click)="_onSubmit(form.value)" mat-raised-button color="accent">Submit</button>
        </div>
</div>  
</div> -->
<app-signup></app-signup>