.my-pcard{
    width: 956px;
    max-width: 100%;
    margin: 0 auto;
  
    mat-form-field{
      font-size: 16px;
      font-family:  Kh-Battambang;
     line-height: 2; 
      color: black;
      width: 180px;
      border: 1px;
      margin-top: 9px;
      padding-right: 10px;
    }
    input{
      height: 26px;
      padding: 3px;
    }
  }